# Flutter/Dart/Pub related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
doc/api/
.env*

# Build outputs
build/
ios/Flutter/flutter_export_environment.sh

# IntelliJ/VS Code
.idea/
.vscode/

# Others
*.iml
pubspec.lock
*.DS_Store
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map
